@model IEnumerable<CoffeeMachine.DrinkMachine>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaxCoffeeStorage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxCreamStorage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxSugarStorage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoffeeStored)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreamStored)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SugarStored)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRunning)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaxCoffeeStorage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxCreamStorage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxSugarStorage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoffeeStored)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreamStored)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SugarStored)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRunning)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
